@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

/*Крестик в IE*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
}

@media (max-width: 900px) {
  body {
    -ms-grid-rows: 70px 40px 70px 40px 70px;
    -ms-grid-columns: 190px 40px 190px 40px 190px;
        grid-template: 70px 70px 70px/190px 190px 190px;
    grid-gap: 40px;
  }
}
@media (max-width: 700px) {
  body {
    -ms-grid-rows: 70px 20px 70px 20px 70px;
    -ms-grid-columns: 190px 20px 190px;
        grid-template: 70px 70px 70px/190px 190px;
    grid-gap: 20px;
  }
}
@media (max-width: 450px) {
  body {
    -ms-grid-rows: 70px 10px 70px 10px 70px 10px 70px 10px 70px 10px 70px 10px 70px 10px 70px;
    -ms-grid-columns: 190px;
        grid-template: 70px 70px 70px 70px 70px 70px 70px 70px/190px;
    grid-gap: 10px;
  }
}
a {
  margin: 10px;
  position: relative;
  width: 180px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

svg,
rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 60px;
  fill: transparent;
  stroke-width: 4;
  stroke: #fff;
}

a:nth-child(2) svg, a:nth-child(2) rect {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  stroke-dasharray: 180 60;
}
a:nth-child(2):hover rect, a:nth-child(2):hover svg {
  stroke-dashoffset: 240;
}

a:nth-child(3) svg, a:nth-child(3) rect {
  -webkit-transition: all 5s ease-in-out 0s;
  transition: all 5s ease-in-out 0s;
  stroke-dasharray: 180 60;
}
a:nth-child(3):hover rect, a:nth-child(3):hover svg {
  stroke-dashoffset: 4800;
}

a:nth-child(4) svg, a:nth-child(4) rect {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  stroke-dasharray: 480;
}
a:nth-child(4):hover rect, a:nth-child(4):hover svg {
  stroke-dashoffset: 202;
  stroke-dasharray: 88 400;
}

a:nth-child(5) svg, a:nth-child(5) rect {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  stroke-dasharray: 180 60 180 60;
}
a:nth-child(5):hover rect, a:nth-child(5):hover svg {
  stroke-dasharray: 30;
  stroke-dashoffset: 495;
}

a:nth-child(6) svg, a:nth-child(6) rect {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  stroke-dasharray: 180 60 180 60;
}
a:nth-child(6):hover rect, a:nth-child(6):hover svg {
  stroke-width: 10;
  stroke-dashoffset: 960;
  stroke-dasharray: 0.5;
}

a:nth-child(7) svg, a:nth-child(7) rect {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  stroke-dasharray: 480;
}
a:nth-child(7):hover rect, a:nth-child(7):hover svg {
  stroke-dasharray: 0 480;
  stroke-dashoffset: 0;
}

a:nth-child(8) svg, a:nth-child(8) rect {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  stroke-dasharray: 480;
}
a:nth-child(8):hover rect, a:nth-child(8):hover svg {
  stroke-dasharray: 60 180;
  stroke-dashoffset: 60;
}

a:nth-child(9) svg, a:nth-child(9) rect {
  -webkit-transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  stroke-dasharray: 480;
}
a:nth-child(9):hover rect, a:nth-child(9):hover svg {
  stroke: red;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}